nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}

#logo img {
  float: left;
}

nav ul {
  float: right;
}

nav li {
  float: left;
  padding-right: 2px;
}

.date {
  float: left;
}

.print {
  padding-left: 30px;
  float: right;
}

.print img {
  margin-right: 3px;
}

.print, .date {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 33px;
}

.recipe {
  height: 260px;
  padding: 37px 0 0 60px;
  margin: 40px 0;
}

.recipe li {
  float: left;
  width: 40%;
  font-size: 1.3em;
}

aside {
  padding-top: 30px;
  padding-bottom: 60px
}

aside img {
  float: left;
}

aside h3 {
  padding-left: 100px;
  padding-bottom: 10px;
}

aside p {
  padding-left: 100px;
  width: 65%;
  margin: 0;
}

aside button {
  float: right;
  padding: 15px 40px;
}

footer section p{
  padding: 50px 0;}